label{
  display: block;
  font-size: 240%;
  padding-bottom: 1rem;
}
body{
  background-color:rgb(67, 131, 86)
}
.main-container{
  position: absolute;
  left: 10rem;
  top: 1rem;
}
input {
  font-size: 70%;
}
button{
  font-size: 200%;
  margin-left: 16rem;
  margin-top: 0rem;border-radius: 15px;
  background-color: rgb(175, 253, 139);
  border: 3px solid rgb(48, 46, 46);
}
h1{
  font-size: 400%;
  text-align: center;
}
#output, #output-box{
  font-size: 200%;
  border: 2px solid white;
  margin-top: 1rem;
  background-color: white;
  height: 32px;
}